.left-section
  .left-container
    .img-smilies
      = image_tag 'smilies.png'
    .text-container
      %p Welcome to
      %p
        %strong TARGET
    = form_for(resource, as: resource_name, url: user_session_path(resource)) do |f|
      - flash.each do |key, value|
        .error-msg
          = value
      .field
        = f.label :email, class: 'principal-label'
        = f.email_field :email, autofocus: true, class: 'principal-field'
      .field
        = f.label :password, class: 'principal-label'
        = f.password_field :password, autocomplete: 'off', class: 'principal-field'
      .actions
        = f.submit 'Log in', class: 'principal-button'
    = link_to 'Connect with facebook', user_facebook_omniauth_authorize_path, { class: 'principal-label facebook-link' }
.right-section
  .cel-container
    = image_tag 'i-6.png', class: 'cel-img'
  .img-store
    = image_tag 'appstore-button.png', class: 'appstore-img'
  .imgs-fb-tw
    = image_tag 'facebook.png', class: 'fb-tw-img'
    .imgs-space
    = image_tag 'twitter.png', class: 'fb-tw-img'
