.left-section
  .left-container
    .top-subsection
      .img-smilies
        = image_tag 'smilies.png'
      %h2 TARGET MVD
      %h3
        = I18n.t(:target_slogan)
      %p
        = I18n.t(:why_taget)
    .form-container
      = form_for(User.new, url: session_path(:user), method: :post) do |f|
        .field
          = f.label :email, class: 'principal-label'
          = f.email_field :email, autofocus: true,  class: 'principal-field'
        .field
          = f.label :password, class: 'principal-label'
          = f.password_field :password, autocomplete: 'off', class: 'principal-field'
        .actions
          = f.submit 'Sign in', class: 'principal-button'
    .bottom-subsec
      = link_to 'Connect with facebook', user_facebook_omniauth_authorize_path, { class: 'principal-label facebook-link' }
      %hr
      = link_to 'SIGN UP', new_user_registration_path, { class: 'principal-label' }
.right-section
  .cel-container
    = image_tag 'i-6.png', class: 'cel-img'
  .img-store
    = image_tag 'appstore-button.png', class: 'appstore-img'
  .imgs-fb-tw
    = image_tag 'facebook.png', class: 'fb-tw-img'
    .imgs-space
    = image_tag 'twitter.png', class: 'fb-tw-img'
