.left-section
	.left-container
		.top-subsection
			.img-smilies
				= image_tag 'smilies.png'
			%h2 TARGET MVD
			%h3 Find people near you & Connect
			%p Create a  target  wherever on the map, specify your interest: Travel, Dating, Music, etc and start conecting with others who share your interest.
		.bottom-subsec
			= link_to 'SIGN UP', new_user_registration_path, { class: 'principal-label' }
.right-section
	.cel-container
		= image_tag 'i-6.png', class: 'cel-img'
	.img-store
		= image_tag 'appstore-button.png', class: 'appstore-img'
	.imgs-fb-tw
		= image_tag 'facebook.png', class: 'fb-tw-img'
		.imgs-space
		= image_tag 'twitter.png', class: 'fb-tw-img'