.home-left-chat-section
  .chat-top
    .back-button
      <
    .h4 Chat
  .chat-middle{ data: { message_path: messages_path, user_id: current_user.id, chat_id: chat.id, read_messages_path: read_messages_chat_path(chat.id) } }
    .topic-info
      .left-topic-info
        = image_tag "#{chat.match.first_target.topic.title}x2.png", class: 'topic-info-img'
      .right-topic-info
        .user-name{ data: { other_user_id: target.user_id } }
          = target.user.name
        .target-title
          = target.title
    .chat-section
      - chat.messages.each do |message|
        = render 'message.html.haml', message: message, user: current_user
  .chat-footer
    %input.new-message-box#new-message-box{ type: 'text' }
