.left-section
  .left-container
    .top-subsection
      .img-smilies
        = image_tag 'smilies.png'
      %h2 TARGET MVD
      %h3
        = I18n.t(:target_slogan)
      %p
        = I18n.t(:why_taget)
    .form-container
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .field
          = f.label :email, class: 'principal-label'
          = f.email_field :email, autofocus: true, class: 'principal-field'
        .actions
        = f.submit 'Recover Password', class: 'principal-button'
    .bottom-subsec
      = link_to 'Connect with facebook', user_facebook_omniauth_authorize_path, { class: 'principal-label facebook-link' }
      %hr
      = link_to 'SIGN UP', new_user_registration_path, { class: 'principal-label' }
.right-section
  = render 'home/home_index_right'
