!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: 'initial-scale = 1.0,maximum-scale = 1.0', name: 'viewport'}
    %title
      = I18n.t(:target_title)
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_KEY']}"
  %body
    = yield
