.left-section
  .left-container
    %h3 SIGN UP
    = form_for(resource, as: resource_name, url: registration_path(resource), remote: true ) do |f|
      = devise_error_messages!
      .field
        = f.label :name, class: 'principal-label'
        = f.text_field :name, autofocus: true, class: 'principal-field'
      .field
        = f.label :email, class: 'principal-label'
        = f.email_field :email, class: 'principal-field'
      .field
        = f.label :password, class: 'principal-label'
        = f.password_field :password, autocomplete: 'off', placeholder: "MIN. #{@minimum_password_length} CHARACTERS LONG", class: 'principal-field'
      .field
        = f.label :password_confirmation, class: 'principal-label'
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'principal-field'
      .field
        = f.label :gender, class: 'principal-label'
        = f.select :gender, UserDecorator.default_genders, {}, class: 'principal-field select-gender'
      .actions
        = f.submit 'Sign up', class: 'principal-button', data: { no_turbolink: true }
    %hr
    = link_to 'SIGN IN',home_index_path, class: 'principal-label'
.right-section
  = render 'home/home_index_right'
